@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

* {
  box-sizing: border-box;
  font-family: Nunito;
  color: #434343;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em 3%;
  color: rgb(243, 255, 254);
  text-decoration: none;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3c/Banner_Nusa_Penida_turtle.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 2.5px;
}

.main-nav {
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3%;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: Merriweather;
  color: rgb(243, 255, 254);
  padding: 1% 0;
}

.title-large {
  font-size: 5.5em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: Merriweather;
  font-size: normal;
}

.about-turtle-image {
  float: right;
  height: 400px;
  margin: 15px;
  border-radius: 50%;
}

.main-footer {
  max-height: 200px;
  background-color: #234580;
  color: white;
  padding: 0.05em 0;
}

.main-footer-container {
  max-width: none;
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 50px;
  height: 50px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}

.events-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.tour-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border-bottom: none;
}

.tour-item {
  padding-right: 0.5em;
  display: inline-block;
}

.tour-date {
  color: #555;
  font-weight: bold;
  width: 11%;
}

.tour-title {
  width: 24%;
  font-weight: bold;
}

.tour-description {
  width: 42%;
}

.tour-button {
  max-width: 19%;
}

.field-headings {
  font-weight: bold;
}

.btn-primary {
  color: white;
  background-color: #434343;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #434343cc;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #3330;
  margin-bottom: 15px;
}

.shop-header {
  text-align: center;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
